*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
}
/* body  */
body{
    width: 100vw;
    color: #FFFFFF;
} 

@media (max-width: 474px){
nav {
    height: 4.25rem;
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
    z-index: 2;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
  }
  
  .nav_left {
    width: 40%;
    display: flex;
    align-items: center;
  }
  
  .nav_right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .nav_left a {
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .nav_right a {
    font-size: 0.6rem;
    font-weight: 300;
    position: relative;
  }
  
  .nav_right a:hover {
    color: #AD49E1;
  }
  
  .under::after {
    content: "";
    width: 0%;
    /* height: 2px; */
    position: absolute;
    bottom: 0;
    left: 0;
    background: #AD49E1;
    transition: width 0.3s ease-in-out;
  }
  
  .under:hover::after {
    width: 100%;
  }
  
  /* Hamburger Styles (Mobile only) */
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    width: 1.75rem;
    height: 2rem;
    gap: 5px;
    margin-left: 1rem;
  }
  
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  
  /* Slide-in menu */
  .nav_menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 75%;
    background-color: #FFFFFF;
    box-shadow: -2px 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    transition: right 0.3s ease-in-out;
    z-index: 9999;
  }
  
  .nav_menu a {
    margin: 0.75rem 0;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
  }
  
  .nav_menu a:hover {
    color: #AD49E1;
  }
  .nav_menu.show {
    right: 0;
  }
  
  /* Close Button */
  .close-btn {
    font-size: 2rem;
    font-weight: bold;
    color: #AD49E1;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 1.5rem;
  }
  .desktop-only {
    display: none;
  }

  /*-------------- about us ----------------*/
    .about{
    width: 100%;
    background-image: url("../images/About-page/about-top-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1B002ACC;
    padding: 4rem 2rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .about h1{
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: 25px;
    }

    .about hr {
    margin: 0.25rem auto; 
    width: 4rem;
    border: none;
    border-top: 2px solid #fff;
    }

    /*-------------- welcome ----------------*/
    .welcome {
        display: flex;
        width: 100%;
        padding: 2rem 1rem;
        gap: 2rem;
        font-family: 'Plus Jakarta Sans', sans-serif;
      }
      /* .welcome-left,
      .welcome-right {
        width: 50%;
      } */
      /* Grid for 3 images: 2 on top, 1 full width below */
      .welcome-left {
        width: 40%;
        display: grid;
        grid-template-columns: 8.5rem; /* 2 equal columns */
        grid-template-rows: 7rem 7rem 7rem;  
        justify-content:center;  
        gap: 0.5rem;
        /* background-color: yellowgreen; */
      }
      .welcome-left img:nth-child(1) {
        grid-column: 1; /* first column */
        grid-row: 1;
      }
      .welcome-left img:nth-child(2) {
        grid-column: 1; /* second column */
        grid-row: 2;
      }
      .welcome-left img:nth-child(3) {
        grid-column: 1; /* spans both columns */
        grid-row: 3;
      }
      .welcome-left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
      .welcome-right {
        width: 60%;
        padding: 0.5rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Pushes text to top, button to bottom */
        height: 100%; /* Takes available height of parent */
      }
      
      .welcome-right h6 {
        color: #AD49E1;
        font-size: 0.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
      
      .welcome-right h1 {
        color: #19191A;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
      
      .welcome-right p {
        color: #656566;
        font-size: 0.5rem;
        width: 80%;
        line-height: 1rem;
        margin-bottom: 1.2rem; /* Optional: spacing before button */
      }
      
      .welcome-right button {
        padding: 0.35rem 0.75rem;
        border-radius: 2rem;
        background-color: #131313;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        font-size: 0.5rem;
        align-self: flex-start; /* Align button to left inside the column */
      }
      .welcome-right button span {
        font-size: 0.4rem;
       }
       .welcome-right button i{
         font-size: 0.4rem;
        }
}

@media (min-width: 475px) {
    nav {
        height: 4.25rem; /* 100px */
        width: 100vw;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
      }
    
      nav a {
        text-decoration: none;
        color: #000000;
      }
    
      .nav_left{
        width: 40%;
        display: flex;
        align-items: center;
      }
      .nav_right {
        width: 60%;
        display: flex;
        align-items: center;
      }
    
      .nav_left a {
        font-size: 0.8rem; /* ~14.4px */
        font-weight: 600;
        line-height: 100%;
        height: 1.875rem; /* 30px */
        margin-top: 1rem;
      }
    
      .nav_right {
        justify-content: flex-end;
      }
    
      .nav_right a {
        /* margin-left: 0.05rem; */
        font-size: 0.6rem; /* ~10.4px */
        font-weight: 300;
        position: relative;
      }
    
      .nav_right a:hover {
        color: #AD49E1;
      }
    
      .under::after {
        content: "";
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #AD49E1;
        transition: width 0.3s ease-in-out;
      }
    
      .under:hover::after {
        width: 100%;
      }
    
      /* Optional: Hide mobile nav elements if any */
      .hamburger,
      .nav_menu {
        display: none !important;
      }
    
      .desktop-only {
        display: flex;
        gap: 0.7rem;
      }

    /*-------------- about us ----------------*/
    .about{
        width: 100%;
        background-image: url("../images/About-page/about-top-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #1B002ACC;
        padding: 3rem;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
    .about h1{
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: 700;
        font-size: 25px;
    }
    .about hr {
        margin: 0.25rem auto; 
        width: 4rem;
        border: none;
        border-top: 2px solid #fff;
    }

    /*-------------- welcome ----------------*/
    .welcome {
        display: flex;
        width: 100%;
        padding: 2rem 1rem;
        gap: 1rem;
        font-family: 'Plus Jakarta Sans', sans-serif;
      }
      /* .welcome-left,
      .welcome-right {
        width: 50%;
      } */
      /* Grid for 3 images: 2 on top, 1 full width below */
      .welcome-left {
        width: 40%;
        display: grid;
        grid-template-columns: 10.5rem; /* 2 equal columns */
        grid-template-rows: 8rem 8rem 8rem;  
        justify-content:center;  
        gap: 0.5rem;
        /* background-color: yellowgreen; */
      }
      .welcome-left img:nth-child(1) {
        grid-column: 1; /* first column */
        grid-row: 1;
      }
      .welcome-left img:nth-child(2) {
        grid-column: 1; /* second column */
        grid-row: 2;
      }
      .welcome-left img:nth-child(3) {
        grid-column: 1; /* spans both columns */
        grid-row: 3;
      }
      .welcome-left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
      .welcome-right {
        width: 60%;
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Pushes text to top, button to bottom */
        height: 100%; /* Takes available height of parent */
      }
      
      .welcome-right h6 {
        color: #AD49E1;
        font-size: 0.6rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
      
      .welcome-right h1 {
        color: #19191A;
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        width: 90%;
      }
      
      .welcome-right p {
        color: #656566;
        font-size: 0.6rem;
        width: 80%;
        line-height: 1rem;
        margin-bottom: 1.2rem; /* Optional: spacing before button */
      }
      
      .welcome-right button {
        padding: 0.45rem 0.95rem;
        border-radius: 2rem;
        background-color: #131313;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        font-size: 0.5rem;
        align-self: flex-start; /* Align button to left inside the column */
      }
      .welcome-right button span {
        font-size: 0.5rem;
       }
       .welcome-right button i{
         font-size: 0.5rem;
        }
}

@media (min-width: 640px) {
    nav {
        height: 5.25rem; /* 100px */
        width: 100vw;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
      }
    
      nav a {
        text-decoration: none;
        color: #000000;
      }
    
      .nav_left,
      .nav_right {
        width: 50%;
        display: flex;
        align-items: center;
      }
    
      .nav_left a {
        font-size: 0.9rem; /* ~14.4px */
        font-weight: 600;
        line-height: 100%;
        height: 1.875rem; /* 30px */
        margin-top: 1rem;
      }
    
      .nav_right {
        justify-content: flex-end;
      }
    
      .nav_right a {
        margin-left: 0.3rem;
        font-size: 0.65rem; /* ~10.4px */
        font-weight: 300;
        position: relative;
      }
    
      .nav_right a:hover {
        color: #AD49E1;
      }
    
      .under::after {
        content: "";
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #AD49E1;
        transition: width 0.3s ease-in-out;
      }
    
      .under:hover::after {
        width: 100%;
      }
    
      /* Optional (for larger breakpoints): hide mobile menu and hamburger */
      .hamburger,
      .nav_menu {
        display: none !important;
      }
    
      .desktop-only {
        display: flex;
        gap: 0.7rem;
      }
    /*-------------- about us ----------------*/
    .about{
        width: 100%;
        background-image: url("../images/About-page/about-top-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #1B002ACC;
        padding: 5rem;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
    .about h1{
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: 700;
        font-size: 35px;
    }
    .about hr {
        margin: 0.5rem auto; 
        width: 5rem;
        border: none;
        border-top: 2px solid #fff;
    }

    /*-------------- welcome ----------------*/
    .welcome {
        display: flex;
        width: 100%;
        padding: 4rem;
        gap: 1rem;
        font-family: 'Plus Jakarta Sans', sans-serif;
      }
      .welcome-left,
      .welcome-right {
        width: 50%;
      }
      /* Grid for 3 images: 2 on top, 1 full width below */
      .welcome-left {
        display: grid;
        grid-template-columns: 8.5rem 8.5rem; /* 2 equal columns */
        grid-template-rows: 9rem 9rem;  
        justify-content: end;  
        gap: 1rem;
      }
      .welcome-left img:nth-child(1) {
        grid-column: 1; /* first column */
        grid-row: 1;
      }
      .welcome-left img:nth-child(2) {
        grid-column: 2; /* second column */
        grid-row: 1;
      }
      .welcome-left img:nth-child(3) {
        grid-column: 1 / span 2; /* spans both columns */
        grid-row: 2;
      }
      .welcome-left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
      .welcome-right {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Pushes text to top, button to bottom */
        height: 100%; /* Takes available height of parent */
      }
      
      .welcome-right h6 {
        color: #AD49E1;
        font-size: 0.6rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      
      .welcome-right h1 {
        color: #19191A;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      
      .welcome-right p {
        color: #656566;
        font-size: 0.6rem;
        width: 80%;
        line-height: 1.25rem;
        margin-bottom: 1rem; /* Optional: spacing before button */
      }
      
      .welcome-right button {
        padding: 0.45rem 1rem;
        border-radius: 2rem;
        background-color: #131313;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        font-size: 0.5rem;
        align-self: flex-start; /* Align button to left inside the column */
      }
      .welcome-right button span {
        font-size: 0.5rem;
       }
       .welcome-right button i{
         font-size: 0.5rem;
        }
}

@media (min-width: 768px) {
    nav {
        height: 5.25rem; /* 100px */
        width: 100vw;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
      }
    
      nav a {
        text-decoration: none;
        color: #000000;
      }
    
      .nav_left,
      .nav_right {
        width: 50%;
        display: flex;
        align-items: center;
      }
    
      .nav_left a {
        font-size: 1rem; /* 16px */
        font-weight: 600;
        line-height: 100%;
        height: 1.875rem; /* 30px */
        margin-top: 1rem;
      }
    
      .nav_right {
        justify-content: flex-end;
      }
    
      .nav_right a {
        margin-left: 0.2rem;
        font-size: 0.75rem;
        font-weight: 300;
        position: relative;
      }
    
      .nav_right a:hover {
        color: #AD49E1;
      }
    
      .under::after {
        content: "";
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #AD49E1;
        transition: width 0.3s ease-in-out;
      }
    
      .under:hover::after {
        width: 100%;
      }
    
      /* Optional: Hide mobile menu and hamburger icon on desktop */
      .hamburger,
      .nav_menu {
        display: none !important;
      }
    
      .desktop-only {
        display: flex;
        gap: 1rem;
      }
    
      /*-------------- about us ----------------*/
    .about{
        width: 100%;
        background-image: url("../images/About-page/about-top-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #1B002ACC;
        padding: 7rem;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
    .about h1{
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: 700;
        font-size: 45px;
    }
    .about hr {
        margin: 1rem auto; /* Adds vertical spacing and centers it */
        width: 8rem;
        border: none;
        border-top: 2px solid #fff;
    }
    
    /*-------------- welcome ----------------*/
    .welcome {
        display: flex;
        width: 100%;
        padding: 4rem;
        gap: 1rem;
        font-family: 'Plus Jakarta Sans', sans-serif;
      }
      .welcome-left,
      .welcome-right {
        width: 50%;
      }
      /* Grid for 3 images: 2 on top, 1 full width below */
      .welcome-left {
        display: grid;
        grid-template-columns: 10.5rem 10.5rem; /* 2 equal columns */
        grid-template-rows: 10rem 10rem;  
        justify-content: end;  
        gap: 1rem;
      }
      .welcome-left img:nth-child(1) {
        grid-column: 1; /* first column */
        grid-row: 1;
      }
      .welcome-left img:nth-child(2) {
        grid-column: 2; /* second column */
        grid-row: 1;
      }
      .welcome-left img:nth-child(3) {
        grid-column: 1 / span 2; /* spans both columns */
        grid-row: 2;
      }
      .welcome-left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
      .welcome-right {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Pushes text to top, button to bottom */
        height: 100%; /* Takes available height of parent */
      }
      
      .welcome-right h6 {
        color: #AD49E1;
        font-size: 0.7rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      
      .welcome-right h1 {
        color: #19191A;
        font-size: 1.7rem;
        font-weight: 600;
        width: 100%;
        margin-bottom: 1rem;
      }
      
      .welcome-right p {
        color: #656566;
        font-size: 0.7rem;
        width: 80%;
        line-height: 1.55rem;
        margin-bottom: 1rem; /* Optional: spacing before button */
      }
      
      .welcome-right button {
        padding: 0.55rem 1.25rem;
        border-radius: 2rem;
        background-color: #131313;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        align-self: flex-start; /* Align button to left inside the column */
      }
      .welcome-right button span {
        font-size: 0.7rem;
       }
       .welcome-right button i{
         font-size: 0.7rem;
        }
}

@media (min-width: 1024px) {
    nav {
      height: 6.25rem; /* 100px */
      width: 100vw;
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 4rem;
    }
  
    nav a {
      text-decoration: none;
      color: #000000;
    }
  
    .nav_left,
    .nav_right {
      width: 50%;
      display: flex;
      align-items: center;
    }
  
    .nav_left a {
      font-size: 1.25rem; /* 20px */
      font-weight: 600;
      line-height: 100%;
      height: 1.875rem; /* 30px */
    }
  
    .nav_right {
      justify-content: flex-end;
    }
  
    .nav_right a {
        margin-left: 0.3rem;
      font-size: 1rem;
      font-weight: 300;
      position: relative;
      transition: color 0.3s ease;
    }
  
    /* Hover effects */
    .nav_right a:hover {
      color: #AD49E1;
    }
  
    .under::after {
      content: "";
      width: 0%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #AD49E1;
      transition: width 0.3s ease-in-out;
    }
  
    .under:hover::after {
      width: 100%;
    }
  
    /* Hide hamburger and mobile menu */
    .hamburger {
      display: none;
    }
  
    .nav_menu {
      display: none !important;
    }
  
    .desktop-only {
      display: flex;
      gap: 1rem;
    }


    /*-------------- about us ----------------*/
    .about{
        width: 100%;
        background-image: url("../images/About-page/about-top-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #1B002ACC;
        padding: 8rem;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
    .about h1{
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: 700;
        font-size: 48px;
    }
    .about hr {
        margin: 1rem auto; /* Adds vertical spacing and centers it */
        width: 10rem;
        border: none;
        border-top: 2px solid #fff;
    }

    /*-------------- welcome ----------------*/
    .welcome {
        display: flex;
        width: 100%;
        padding: 4rem;
        gap: 2rem;
        font-family: 'Plus Jakarta Sans', sans-serif;
      }
      .welcome-left,
      .welcome-right {
        width: 50%;
      }
      /* Grid for 3 images: 2 on top, 1 full width below */
      .welcome-left {
        display: grid;
        grid-template-columns: 15rem 15.5rem; /* 2 equal columns */
        grid-template-rows: 12.5rem 12.5rem;  
        justify-content: end;       /* 2 rows */
        gap: 1rem;
      }
      .welcome-left img:nth-child(1) {
        grid-column: 1; /* first column */
        grid-row: 1;
      }
      .welcome-left img:nth-child(2) {
        grid-column: 2; /* second column */
        grid-row: 1;
      }
      .welcome-left img:nth-child(3) {
        grid-column: 1 / span 2; /* spans both columns */
        grid-row: 2;
      }
      .welcome-left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
      .welcome-right {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Pushes text to top, button to bottom */
        height: 100%; /* Takes available height of parent */
      }
      
      .welcome-right h6 {
        color: #AD49E1;
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      
      .welcome-right h1 {
        color: #19191A;
        font-size: 2rem;
        font-weight: 600;
        width: 90%;
        margin-bottom: 1rem;
      }
      
      .welcome-right p {
        color: #656566;
        font-size: 0.9rem;
        width: 80%;
        line-height: 1.75rem;
        margin-bottom: 1rem; /* Optional: spacing before button */
      }
      
      .welcome-right button {
        padding: 0.75rem 1.5rem;
        border-radius: 2rem;
        background-color: #131313;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        align-self: flex-start; /* Align button to left inside the column */
      }
    .welcome-right button span {
        font-size: 1rem;
      }
      .welcome-right button i{
          font-size: 1rem;
        }
      
}